*.o
*.out
*.bc
*.ll
*.s
*.obj
*.so
*.dylib
*.dll
*.fatbin
*.ptx
*cscope*
*tags*
build/**
!build/Makefile_Main
\.*
*log
cuda-oversubscribed-benchmarks-main/**
pagelog_test_results/**
results/**
__pycache__/